<div>
  <h1 class="font-bold text-4xl text-center">
    Welcome!
    <br / >
    <%= link_to "Click here", signup_step_1_path, class: "text-blue-500 font-bold" %>
    to become one of our members!
  </h1>

</div>
